/* Breakpoints */
/* Social */
/* Colors */
/* Transitions */
/* Paddings */
/* Shadows */
/*@import "base/reset";
@import "base/general";*/
.commonText, .headline, .copy, .linkText, .textInput {
  /*font-family: SourceSansPro-Light;*/ }

.body {
  flex: 1;
  background-color: white; }

.bodyHeader {
  height: 170;
  flex-direction: column;
  justify-content: center;
  background-color: #EBEBEB;
  margin-bottom: 70px; }

.bodyHeaderText {
  font-family: Azo Sans;
  font-weight: 400;
  text-align: center;
  align-self: center;
  font-size: 48;
  color: #4B4B4B; }

.leftCtrls {
  position: absolute;
  left: 25;
  top: 50;
  flex-direction: row;
  flex-wrap: wrap; }

.rightCtrls {
  position: absolute;
  right: 25;
  top: 50;
  flex-direction: row;
  flex-wrap: wrap; }

.headerLink {
  z-index: 100; }

.inlineContain {
  flex-direction: row;
  flex-wrap: wrap; }

.btn, .headerLink {
  /*align-self: center;*/
  width: 245px;
  justify-content: center;
  padding: 10px 15px 12px 15px;
  background-color: #F26A7E;
  border-radius: 3px;
  /*&:hover {
		box-shadow: $big_shadow;
		background: $green_d;
	}*/ }

.btnText, .headerLinkText {
  /* align-self on Text to open radius on Touchable */
  align-self: center;
  height: 45px;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 22px;
  line-height: 28px;
  font-family: Azo Sans; }

.headline {
  font-weight: 600;
  align-self: center;
  font-size: 30px;
  justify-content: center;
  /*color: $stormy_gray;*/ }

.copy {
  /*color: $warm_grey;*/
  font-weight: 400;
  font-size: 20px;
  align-self: center;
  text-align: center;
  letter-spacing: -0.2; }

.centerLink {
  align-self: center;
  justify-content: center; }

.linkText {
  font-weight: 400;
  font-size: 18px;
  /*color: $stormy_gray;*/
  text-decoration-line: underline; }

.textInput {
  height: 52px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400; }

.pickerInput {
  /*color: $warm_grey;*/
  padding-top: 14px;
  font-weight: 300;
  text-align: center; }

.borderBottom {
  border-bottom-color: red;
  border-bottom-width: 1px; }

.inlineInputs {
  flex-direction: row;
  flex-grow: 1; }

.icFont {
  font-family: 'Icon Font';
  font-style: normal; }

.dialogContain {
  position: absolute;
  bottom: -50;
  background-color: transparent; }

.dialogCtrls {
  background-color: #f7f7f7;
  position: absolute;
  top: -280;
  height: 50;
  z-index: 25; }

.generalCtrls {
  background-color: #f7f7f7;
  /*position: absolute;
	top: -50;*/
  height: 50;
  z-index: 25; }

.pickerDialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 230;
  background-color: #CDD1D8; }

.generalDialog {
  z-index: 10;
  height: 230;
  background-color: #CDD1D8; }

.pickerItem {
  background-color: white; }

.doneLink {
  position: absolute;
  right: 5;
  top: 3;
  padding: 10px; }

.doneLabel {
  color: #007aff;
  font-size: 18px; }

.upArrow {
  height: 40;
  width: 40;
  position: absolute;
  top: 5;
  left: 5;
  padding: 10px; }

.downArrow {
  height: 40;
  width: 40;
  position: absolute;
  top: 5;
  left: 40;
  padding: 10px; }

.slideTile, .slideContain {
  flex-direction: row;
  flex-wrap: wrap; }

.tileImage {
  justify-content: center; }

.imageContain, .imageBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.slideTileInfo {
  background-color: #E3E4E5;
  padding: 25px; }

.slideTileName {
  text-align: left;
  color: #747474;
  font-size: 36; }

.slideTileDescription {
  text-align: left;
  color: #747474; }

.checkmarkIcon {
  width: 20;
  height: 20;
  background-color: red; }

.gridContain {
  flex-direction: row;
  flex-wrap: wrap; }

.tileBox {
  height: 325;
  margin-bottom: 100; }

.gridTile {
  height: 300;
  background-color: #747474;
  justify-content: center;
  border-radius: 5px; }

.tileBackground, .tileContain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; }

.tileBackground {
  border-radius: 5px; }

.tileName {
  font-family: Skolar Sans Latin;
  font-weight: 300;
  text-align: center;
  font-size: 28px;
  background-color: transparent;
  color: #4B4B4B;
  margin-top: 25; }

/*
.tileDescription {
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	background-color: transparent;
	color: white;
}*/
.viewMenu {
  margin-right: 50; }

.selectionStrip {
  padding: 35px; }

.selectionTile {
  height: 170;
  justify-content: center;
  margin-right: 35;
  border-radius: 5px; }

.selectionContain, .selectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; }

.tallCompareContain {
  flex-direction: row;
  flex-wrap: wrap; }

.compareTile {
  border-radius: 5px; }
