/* Breakpoints */
$phone:   480px;
$mini:    620px;
$tablet:  768px;
$desktop: 1140px;

/* Social */
$facebook: 	#306199;
$twitter: 	#26c4f1;
$google: 	#e93f2e;
$pinterest: #b81621;

/* Colors */
$blue: 		#70E5FF;
$darkBlue: 	#38BCCD;
$blueD: 	$darkBlue;
$grey: 		#D2D2D2;
$darkGrey: 	#747474;
$midGrey: 	#767E81;
$lightGrey: #E3E4E5;
$green1: 	#70B465;
$greenD1: 	#64A45C;

$purple: 	#B9B6F5;
$purple2: 	#9BA2BE;
$red: 		#F7886C;
$redD: 		#C95F48;

$headerGrey: #C1CCD1;
$black: 	#4B4B4B;
$white: 	#F5F7F5;

$aero: 		#7BB9E6;
$aeroD: 	#73AED7;

$new_pink: 		#F26A7E;
$new_pink_d: 	#CF5B6A;

$pink: $new_pink;
$pink_d: $new_pink;

$green: 	$new_pink;
$greenD:   	$new_pink;

$grey: 		#D2D2D2;
$darkGrey: 	#747474;
$midGrey: 	#767E81;
$lightGrey: #E3E4E5;

$black: #4B4B4B;
$white: #EBEBEB;

/* Transitions */
$long: 	0.4s;
$short: 0.2s;

/* Paddings */
$large: 	100px;
$medium: 	70px;
$small: 	20px;
$mobile: 	15px;

/* Shadows */
$shadow: 		rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
$tightShadow: 	rgba(0, 0, 0, 0.4) 0px 1px 1px 0px;
$tightInset: 	rgba(0, 0, 0, 0.2) 0px 1px 5px 0px inset;
$bigShadow: 	0px 2px 4px rgba(0,0,0,0.25);

$hFont: Azo Sans;
$bFont: Skolar Sans Latin;