.assetRankBody {
	margin-top: 0;
}

.rankHeadline {
	font-family: $bFont;
	font-size: 26;
	color: $darkGrey;
	margin-bottom: 10;
}

.averageRank {
	 flex-direction: row;
   flex-wrap: wrap;
   top: -5;
}

.averageRankValue, .rankValue {
	font-family: $bFont;
	font-weight: 600;
	font-size: 34;
	color: $pink;
	margin-right: 9;
}

.averageRankLabel, .rankName {
	font-family: $bFont;
	font-size: 28;
	font-weight: 300;
	color: $darkGrey;
	top: 4;
}

.userRank {
	flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5;
}

.rankName {

}

.rankValue {

}

.noRankingsNote {

}

.noRankingsNoteText {
	@extend .commonText;
	font-size: 28;
	font-weight: 600;
	color: $grey;
}
