.gridContain {
	flex-direction: row;
   	flex-wrap: wrap;
   	padding-top: 70px;
}

.largeColumn {
	height: 775px;
	z-index: 10;
	margin-right: 70;
}

.smallColumn {
	height: 775px;
}

.largeTile {}

.assetTile {}

.compareTile {}

// normal tile
.tileBox {
	margin-bottom: 75;
	border-radius: 10px;
	background-color: #F2F2F2;
	position: relative;
}

.tileGridThing {
	border-radius: 10px;
  overflow: hidden;
}

.gridTile {
	border-radius: 10px;
  overflow: hidden;
	position: relative;

}

.centerContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	flex-direction: column;
	justify-content: center;
}

.loadingLabel {
	text-align: center;
	font-family: $hFont;
	font-weight: 600;
	font-size: 36;
	color: $grey;
}

.tileContain {
 	flex: 1;
 	border-radius: 10px;
 	overflow: hidden;
}

.tileThumbnail {
	background-color: transparent;
}

.largeThumbnail {}

.thumbnailContain {
	border-bottom-width: 1px;
	border-bottom-color: $lightGrey;
}

.tileInfo {
	background-color: white;
	flex: 1;
}

.tileTitle {
	font-family: $hFont;
	font-weight: 600;
	font-size: 36;
	color: $black;
	text-align: left;
	background-color: transparent;
	top: 10;
	left: 7;
}

.smallTitle {
	font-size: 32;
	top: 15;
	left: 35;
}

.largeTitle {
	font-size: 42;
	left: 55;
	top: 35;
}

.noticeContain {
	flex: 1;
	padding: 75 60;
}

.noticeText {
	font-family: $hFont;
	font-weight: 400;
	font-size: 38;
	color: $darkGrey;
	text-align: center;
	line-height: 58;
	flex: 1;
}
