.contentView {
  flex: 1;
}

.assetSlide {
  flex: 1;
  z-index: 100;
  padding-top: 70px;
}

.slideContain {
  padding-right: 70px;
}

.compareCtrls {
  // position: absolute;
  height: 200;
  // bottom: 0;
  background-color: $grey;
  left: 0;
}

.toggleContain {
  height: 200;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #E3E3E3;
  padding: 60 50;
  //z-index: 70;
}

.compareToggle {
  @extend .btn;
  width: 250;
  height: 80;
  border-radius: 10;
  background-color: $grey;
}

.compareToggleText {
  @extend .btnText;
  padding: 10px 0;
  font-size: 28;
  color: $black;
}

.compareToggleIcon {
  top: 4;
}

.compareSlide {
  flex: 1;
  padding: 25 0 25 0;
}

.slideContain {

}

.assetRankContainer {
  position: absolute;
  top: 22;
  right: 25;
}

.checkmarkContainer {
  width: 40;
  height: 40;
  background-color: $pink;
  border-radius: 50;
  position: absolute;
  top: 15;
  right: 15;
  padding: 6;
  border-color: white;
  border-width: 2;
}
