.textInput {
	@extend .commonText;
	font-size: 22px;
	font-weight: 400;
	border-radius: 5px;
	padding: 18 0;
}

.pickerInput {
	/*color: $warm_grey;*/
	padding-top: 14px;
	font-weight: 300;
	text-align: center;
}

.borderBottom {
	border-bottom-color: red;
	border-bottom-width: 1px;
}

.inlineInputs {
	flex-direction: row;
	flex-grow: 1;
}
