.btn {
	/*width: 245px;*/
	justify-content: center;
	border-radius: 5px;
	padding: 7px 15px;
}

.btnText {
	/* align-self on Text to open radius on Touchable */
	align-self: center;
	height: 45px;
	padding-top: 8px;
	text-align: center;
	font-size: 24px;
	line-height: 28px;
	font-family: $hFont;
}

.headline {
	@extend .commonText;
	font-weight: 600;
	align-self: center;
	font-size: 30px;
	justify-content: center;
	/*color: $stormy_gray;*/
}

.copy {
	@extend .commonText;
	/*color: $warm_grey;*/
	font-weight: 400;
	font-size: 20px;
	align-self: center;
	text-align: center;
	letter-spacing: -0.2;
}

.centerLink {
	align-self: center;
	justify-content: center;
}

.linkText {
	@extend .commonText;
	font-weight: 400;
	font-size: 18px;
	/*color: $stormy_gray;*/
	text-decoration-line: underline;
}

