.body {
	flex: 1;
	background-color: white;
}

.bodyHeader {
	height: 170;
	flex-direction: column;
   	justify-content: center;
   	background-color: $white;
}

.bodyHeaderText {
	font-family: $hFont;
	font-weight: 300;
	text-align: center;
	align-self: center;
	font-size: 48;
	color: $black;
}

.leftCtrls {
	position: absolute;
	left: 50;
	top: 50;
	flex-direction: row;
   	flex-wrap: wrap;
}

.rightCtrls {
	position: absolute;
	right: 50;
	top: 50;
	flex-direction: row;
   	flex-wrap: wrap;
}

.headerLink {
	@extend .btn;
	z-index: 100;
}

.headerLinkText {
	@extend .btnText;
	font-weight: 400;
}

.headerLinkIcon {
	left: -5px;
}

.inlineContain {
	flex-direction: row;
   	flex-wrap: wrap;
}


